<div
  data-intro-slider-image-number='2'
  class='sliders object-cover min-w-full w-screen min-h-full relative snap-center'
>
  <img
    alt='Porsche - Drive defines us. - Panamera GTS.'
    data-search='image'
    src='https://files.porsche.com/filestore/image/multimedia/none/rd-2020-homepage-banner-ww-g2iigts-kw39/normal/2e45657a-f83b-11ea-80ce-005056bbdc38/porsche-normal.jpg'
    data-image-src='https://files.porsche.com/filestore/image/multimedia/none/rd-2020-homepage-banner-ww-g2iigts-kw39/normal/2e45657a-f83b-11ea-80ce-005056bbdc38;sP;twebp/porsche-normal.webp'
    class='absolute top-0 left-0 w-full h-full object-cover object-center'
    data-width='3840'
    data-height='1476'
    data-aspect-ratio='320-123'
    data-lazy-load='true'
    data-lazy-loaded='true'
    data-fade-in-show='true'
  />
  <div class='h-full w-auto absolute bottom-0 left-0 z-50 flex items-end'>
    <div class='font-semibold text-white ms-2 md:mx-[70px] mb-12 flex'>
      <div class='w-auto h-full mt-4'>
        <span
          ><svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='2.5'
            stroke='currentColor'
            class='w-8 h-8 text-red-700'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M8.25 4.5l7.5 7.5-7.5 7.5'></path>
          </svg></span
        >
      </div>
      <div class='flex flex-col gap-2'>
        <h1 class='text-5xl tracking-tight'>Drive define us.</h1>
        <h3 class='text-2xl tracking-tight'>Panamera GTS.</h3>
      </div>
    </div>
  </div>
</div>
