<div
  data-intro-slider-image-number='3'
  class='sliders object-cover min-w-full w-screen min-h-full relative snap-center'
>
  <img
    alt='Porsche - Contempor치neo, din치mico y urbano. - Macan T.'
    data-search='image'
    src='https://files.porsche.com/filestore/image/multimedia/none/rd-2023-homepage-banner-ww-macant-kw37/normal/2a6e28b7-4c96-11ee-8107-005056bbdc38;sM;twebp/porsche-normal.webp'
    data-image-src='https://files.porsche.com/filestore/image/multimedia/none/rd-2023-homepage-banner-ww-macant-kw37/normal/2a6e28b7-4c96-11ee-8107-005056bbdc38/porsche-normal.jpg'
    loading='lazy'
    class='absolute top-0 left-0 w-full h-full object-cover object-center'
    data-width='3840'
    data-height='1476'
    data-aspect-ratio='320-123'
    data-lazy-load='true'
    data-lazy-loaded='true'
    data-fade-in-show='true'
  />
  <div class='h-full w-auto absolute bottom-0 left-0 z-50 flex items-end'>
    <div
      class='w-screen font-semibold text-white mb-12 ms-1 md:ms-0 md:pe-20 flex justify-end'
    >
      <div class='w-auto h-full mt-4'>
        <span
          ><svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='2.5'
            stroke='currentColor'
            class='w-8 h-8 text-red-700'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M8.25 4.5l7.5 7.5-7.5 7.5'></path>
          </svg></span
        >
      </div>
      <div class='flex flex-col gap-2'>
        <h1 class='text-3xl md:text-5xl tracking-tight'>
          Contempor치neo, din치mico y urbano.
        </h1>
        <h3 class='text-2xl tracking-tight'>Macan T.</h3>
      </div>
    </div>
  </div>
</div>
