---
const {title, instagram, hover}= Astro.props
---

<span class=`absolute z-30 top-0 left-0 bg-neutral-800/80 w-full h-full text-white ps-4 opacity-0 pt-4 transition-all duration-300 ease-in-out ${hover}`>
  <h6 class='leading-5 whitespace-break-spaces font-medium'>{instagram}</h6>
  <h5
    class='absolute top-14 text-lg font-thin inline max-w-full'>{title}</h5>
</span>