<button
  id='button-left-re-estreno'
  class='bg-white text-gray-600 p-3 hidden opacity-0 transition-all duration-500 delay-100 ease-in-out group-hover:opacity-100 group-hover:duration-200 hover:bg-red-porsche hover:text-white'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    fill='none'
    viewBox='0 0 24 24'
    stroke-width='1.5'
    stroke='currentColor'
    class='w-6 h-6'
  >
    <path
      stroke-linecap='round'
      stroke-linejoin='round'
      d='M15.75 19.5L8.25 12l7.5-7.5'></path>
  </svg>
</button>
