---
import DiscoverSectionCard from './imgs/discoverSection/DiscoverSectionCard.astro';

const DISCOVER_CARDS = [
  {
    img: 'https://files.porsche.com/filestore/image/multimedia/none/rd-2018-homepage-teaser-ww-e-performance-kw12/normal/f7cc8e7c-6599-11e9-80c4-005056bbdc38;sO;twebp/porsche-normal.webp',
    linkTitle: 'Porsche E-performance.',
    icon: 'right'
  },
  {
    img: 'https://files.porsche.com/filestore/image/multimedia/none/rd-2021-homepage-teaser-pmex-porschefinder-kw28/normal/a9e3f9a3-df1c-11eb-80d9-005056bbdc38;sO;twebp/porsche-normal.webp',
    linkTitle: 'Porsche Finder.',
    icon: 'goRight'
  },
  {
    img: 'https://files.porsche.com/filestore/image/multimedia/none/rd-2020-homepage-teaser-pcgb-myporsche-kw03/normal/5eaba190-35e6-11ea-80c6-005056bbdc38;sO;twebp/porsche-normal.webp',
    linkTitle: 'Sign up for My Porsche.',
    icon: 'goRight'
  },
  {
    img: 'https://files.porsche.com/filestore/image/multimedia/none/rd-2017-homepage-teaser-porscheexclusivemanufaktur-kw24/normal/3cbd9b47-4c59-11e7-bfe2-0019999cd470;sO;twebp/porsche-normal.webp',
    linkTitle: 'Porsche Exclusive Manufaktur.',
    icon: 'right'
  }
];
---

<section class='py-6 pb-14 px-20 mb-20'>
  <h3 class='text-3xl font-semibold my-6'>Discover</h3>
  <div class='flex w-full overflow-x-scroll md:overflow-hidden'>
    {
      DISCOVER_CARDS.map((card) => (
        <DiscoverSectionCard
          img={card.img}
          linkTitle={card.linkTitle}
          icon={card.icon}
        />
      ))
    }
  </div>
</section>
