---
import DiscoverSectionCard from './imgs/discoverSection/DiscoverSectionCard.astro'
---

<section class='py-6 pb-14 px-20'>
  <h3 class='text-3xl font-semibold my-6'>Discover</h3>
  <div class='flex'>
    <DiscoverSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/rd-2018-homepage-teaser-ww-e-performance-kw12/normal/f7cc8e7c-6599-11e9-80c4-005056bbdc38;sO;twebp/porsche-normal.webp'
      linkTitle='Porsche E-performance.'
      ir='ir'
    />
    <DiscoverSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/rd-2021-homepage-teaser-pmex-porschefinder-kw28/normal/a9e3f9a3-df1c-11eb-80d9-005056bbdc38;sO;twebp/porsche-normal.webp'
      linkTitle='Porsche Finder.'
      ir=''
    />
    <DiscoverSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/rd-2020-homepage-teaser-pcgb-myporsche-kw03/normal/5eaba190-35e6-11ea-80c6-005056bbdc38;sO;twebp/porsche-normal.webp'
      linkTitle='Sign up for My Porsche.'
      ir=''
    />
    <DiscoverSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/rd-2017-homepage-teaser-porscheexclusivemanufaktur-kw24/normal/3cbd9b47-4c59-11e7-bfe2-0019999cd470;sO;twebp/porsche-normal.webp'
      linkTitle='Porsche Exclusive Manufaktur.'
      ir='ir'
    />
  </div>
</section>
