<footer>
  <nav class='px-20'>
    <hr class='border-gray-400' />
    <div class='flex gap-4'>
      <div class='w-full'>
        <h4 class='text-xl font-semibold my-5'>Generar y buscar</h4>
        <ul class='flex flex-col gap-5'>
          <li>Configurar su Porche</li>
          <li>Comparar Modelos</li>
          <li>Centros Porsche</li>
        </ul>
      </div>
      <div class='w-full'>
        <h4 class='text-xl font-semibold my-5'>Servicios en línea</h4>
        <ul class='flex flex-col gap-5'>
          <li>Porsche Clubs</li>
          <li>My Porsche Login</li>
        </ul>
      </div>
      <div class='w-full'>
        <h4 class='text-xl font-semibold my-5'>Entre bastidores</h4>
        <ul class='flex flex-col gap-5'>
          <li>Passion Motorsports</li>
          <li>Porsche Experience</li>
          <li>Visitar el museo Porsche</li>
        </ul>
      </div>
      <div class='w-full'>
        <h4 class='text-xl font-semibold my-5'>Porsche: la empresa</h4>
        <ul class='flex flex-col gap-5'>
          <li>At a Glance</li>
          <li>Empleo</li>
        </ul>
        <div class='relative w-full my-10'>
          <a
            href='#'
            class='bg-gray-porsche absolute w-full h-14 text-white flex justify-center items-center gap-4 font-semibold transition-all duration-150 ease-in-out hover:bg-red-700'
            ><span
              ><svg
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                class='bi bi-share-fill'
                viewBox='0 0 16 16'
              >
                <path
                  d='M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z'
                ></path>
              </svg></span
            ><span>Compartir página</span></a
          >
          <ul class='hidden'>
            <li><a href=''>face</a></li>
            <li><a href=''>face</a></li>
            <li><a href=''>face</a></li>
          </ul>
        </div>
        <div class='w-full my-10 mt-32'>
          <span class='text-gray-400 text-xl font-semibold'
            >Contactar con Porsche</span
          >
          <ul
            class='flex gap-3 flex-wrap [&>li]:w-[50px] [&>li]:h-[50px] [&>li]:p-3 [&>li]:bg-gray-porsche [&>li]:text-white [&>li]:fill-white'
          >
            <li>
              <a
                ><svg
                  viewBox='-5 0 20 20'
                  version='1.1'
                  xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink'
                  fill='inherit'
                  stroke='inherit'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <title>facebook [#998585]</title>
                    <desc>Created with Sketch.</desc>
                    <defs> </defs>
                    <g
                      id='Page-1'
                      stroke='none'
                      stroke-width='1'
                      fill='none'
                      fill-rule='evenodd'
                    >
                      <g
                        id='Dribbble-Light-Preview'
                        transform='translate(-385.000000, -7399.000000)'
                        fill='white'
                      >
                        <g
                          id='icons'
                          transform='translate(56.000000, 160.000000)'
                        >
                          <path
                            d='M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z'
                            id='facebook-[#998585]'
                          >
                          </path>
                        </g>
                      </g>
                    </g>
                  </g></svg
                ></a
              >
            </li>
            <li>
              <a
                ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-youtube w-full h-full'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z'
                  ></path>
                </svg></a
              >
            </li>
            <li>
              <a
                ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-twitter-x w-full h-full'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z'
                  ></path>
                </svg></a
              >
            </li>
            <li>
              <a
                ><svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='16'
                  height='16'
                  fill='currentColor'
                  class='bi bi-instagram w-full h-full'
                  viewBox='0 0 16 16'
                >
                  <path
                    d='M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z'
                  ></path>
                </svg></a
              >
            </li>
            <li>
              <a
                ><svg
                  fill='#ffffff'
                  version='1.1'
                  xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink'
                  viewBox='0 0 512 512'
                  xml:space='preserve'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <g id='7935ec95c421cee6d86eb22ecd125aef'>
                      <path
                        style='display: inline; fill-rule: evenodd; clip-rule: evenodd;'
                        d='M116.504,500.219V170.654H6.975v329.564H116.504 L116.504,500.219z M61.751,125.674c38.183,0,61.968-25.328,61.968-56.953c-0.722-32.328-23.785-56.941-61.252-56.941 C24.994,11.781,0.5,36.394,0.5,68.722c0,31.625,23.772,56.953,60.53,56.953H61.751L61.751,125.674z M177.124,500.219 c0,0,1.437-298.643,0-329.564H286.67v47.794h-0.727c14.404-22.49,40.354-55.533,99.44-55.533 c72.085,0,126.116,47.103,126.116,148.333v188.971H401.971V323.912c0-44.301-15.848-74.531-55.497-74.531 c-30.254,0-48.284,20.38-56.202,40.08c-2.897,7.012-3.602,16.861-3.602,26.711v184.047H177.124L177.124,500.219z'
                      >
                      </path>
                    </g>
                  </g></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div></div>
</footer>
