---
import LeftButton from './buttons/LeftButton-re-estreno.astro';
import RightButton from './buttons/RightButton-re-estreno.astro';
import CardFindModel from './imgs/cardFindModel/CardFindModel.astro';
---

<section class='mt-14 relative'>
  <!-- button left -->
  <div
    class='arrowsLeft absolute z-50 top-0 left-0 w-20 h-full flex items-center justify-center'
  >
    <LeftButton />
  </div>
  <h3
    class='text-3xl font-semibold text-center md:text-start mx-8 md:mx-0 md:ms-20'
  >
    Busque y encuentre su vehículo de re-estreno
  </h3>
  <div class='py-10 px-20'>
    <div
      class='sliderbr flex w-full overflow-x-scroll transition-transform duration-200'
    >
      <CardFindModel
        alt='Porsche - Encuentre modelos 718'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-718/normal/db4be0ec-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='718'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos 911'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-911/normal/e7c2070d-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='911'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Taycan'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-taycan/normal/253ef544-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Taycan'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Panamera'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-panamera/normal/19092f4b-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Panamera'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Macan'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-macan/normal/0355d78f-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Macan'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Cayenne'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-cayenne-e3/normal/ef4d48a8-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Cayenne'
      />
    </div>
    <!-- 4 dots -->
    <!-- <div class='animated_dots w-full h-10 absolute bottom-0 left-0'>
      <div
        class='w-full h-full relative flex justify-center items-center gap-3'
      >
        <span
          data-dot-number='1'
          class='animated-dot w-2 h-2 rounded-full bg-gray-300'></span>
        <span
          data-dot-number='2'
          class='animated-dot w-2 h-2 rounded-full bg-gray-300'></span>
        <span
          data-dot-number='3'
          class='animated-dot w-2 h-2 rounded-full bg-gray-300'></span>
        <span
          data-dot-number='4'
          class='animated-dot w-2 h-2 rounded-full bg-gray-300'></span>
      </div>
    </div> -->
  </div>
  <!-- button right -->
  <div
    class='arrowsRight hidden md:flex absolute top-0 right-0 w-20 h-full items-center justify-center'
  >
    <RightButton />
  </div>
</section>

<script>
  const animatedDot = document.querySelectorAll('.animated-dot');
  const leftButton = document.getElementById('button-left-re-estreno');
  const rightButton = document.getElementById('button-right-re-estreno');

  const slider = document.querySelector('.sliderbr');
  const firstChildSlider = slider.firstChild;

  // console.log(leftButton.getAttribute('style'));

  let sliderCounter = 1;

  const updateCounter = (newEnteredValue) => {
    if (sliderCounter >= 1 || sliderCounter < 4) {
      sliderCounter = sliderCounter + newEnteredValue;
    }
  };

  const renderButtonLeft = () => {
    if (sliderCounter <= 1) {
      leftButton.classList.add('hidden');
      leftButton.classList.remove('block');
      console.log('< 1', sliderCounter);
    } else if (sliderCounter >= 2) {
      leftButton.classList.add('block');
      leftButton.classList.remove('hidden');
      console.log('> 1', sliderCounter);
    }
  };

  renderButtonLeft();

  console.log(sliderCounter);
  // console.log(leftButton.getAttribute('style'));

  // button left -> click
  leftButton.addEventListener('click', function () {
    updateCounter(-1);
    renderButtonLeft();

    slider.scrollLeft -= 384;
  });

  // button right -> click
  rightButton.addEventListener('click', function () {
    updateCounter(+1);
    renderButtonLeft();

    slider.scrollLeft += 384;
  });

  animatedDot.forEach((dot) => {
    let dotNumber = dot.getAttribute('data-dot-number');

    if (Number(dotNumber) === sliderCounter) {
      dot.classList.remove('bg-gray-300');
      dot.classList.add('bg-red-porsche');
    } else {
      dot.classList.remove('bg-red-porsche');
      dot.classList.add('bg-gray-300');
    }
  });
</script>

<!-- style for slider scrollbar:horizontal -->
<style>
  .sliderbr::-webkit-scrollbar {
    background: transparent;
    height: 0;
    display: none;
  }

  .sliderbr::-webkit-scrollbar-track {
    background: transparent;
    width: 0;
    height: 0;
  }

  .sliderbr::-webkit-scrollbar-thumb {
    background: transparent;
  }
</style>
