---
import CardFindModel from './imgs/cardFindModel/CardFindModel.astro'
---

<section class='mt-14 relative'>
  <h3 class='text-3xl font-semibold ms-20'>
    Busque y encuentre su vehículo de re-estreno
  </h3>
  <div class='py-10 px-20 overflow-hidden'>
    <div class='flex justify-between gap-5 w-full'>
      <CardFindModel
        alt='Porsche - Encuentre modelos 718'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-718/normal/db4be0ec-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='718'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos 911'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-911/normal/e7c2070d-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='911'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Taycan'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-taycan/normal/253ef544-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Taycan'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Panamera'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-panamera/normal/19092f4b-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Panamera'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Macan'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-macan/normal/0355d78f-f8f5-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Macan'
      />
      <CardFindModel
        alt='Porsche - Encuentre modelos Cayenne'
        img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-icc-cayenne-e3/normal/ef4d48a8-f8f4-11eb-80db-005056bbdc38;sQ;twebp/porsche-normal.webp'
        labelBtn='Cayenne'
      />
    </div>
  </div>
</section>
