---
import ShoppingToolsSectionCard from './imgs/shoppingToolsSection/ShoppingToolsSectionCard.astro'
---

<section class='py-5 px-20'>
  <h3 class='text-3xl font-semibold my-6'>Shopping Tools</h3>
  <div class='w-full h-auto bg-gray-500 flex overflow-hidden'>
    <div
      class='relative w-full max-w-fit h-auto max-h-[16.8rem] group cursor-pointer'
    >
      <img
        class='w-full h-full object-none object-center'
        alt='Porsche Comparar'
        src='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-shoppingtools-compare/normal/4365f64f-2c10-11e7-9f74-0019999cd470;sO;twebp/porsche-normal.webp'
      />
      <a
        class='absolute z-40 bottom-5 left-2 text-white text-xl font-semibold flex group-hover:text-red-600'
        href='#'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='16'
          height='16'
          fill='currentColor'
          class='bi bi-chevron-right text-red-600 stroke-2 w-5 h-5 mt-1'
          viewBox='0 0 16 16'
        >
          <path
            fill-rule='evenodd'
            d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'
          ></path>
        </svg>Comparar</a
      >
    </div>
    <ShoppingToolsSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-shoppingtools-financialservice/normal/24394ea0-992d-11e7-b591-0019999cd470;sR;twebp/porsche-normal.webp'
      alt='Porsche Servicios Financieros'
      subTitleLink='Porsche Servicios Financieros'
    />
    <ShoppingToolsSectionCard
      img='https://files.porsche.com/filestore/image/mexico/es/homepage-teaser-shoppingtools-benefitprogramme/normal/6f83bf76-8d6b-11eb-80d4-005056bbdc38;sR;twebp/porsche-normal.webp'
      alt='Porsche - Programa de beneficios'
      subTitleLink='Programa de beneficios'
    />
    <ShoppingToolsSectionCard
      img='https://files.porsche.com/filestore/image/multimedia/none/homepage-teaser-shoppingtools-dealersearch/normal/c365840c-687b-11e7-9717-0019999cd470;sR;twebp/porsche-normal.webp'
      alt='Buscador de Centros Porsche'
      subTitleLink='Buscador de Centros Porsche'
    />
  </div>
</section>
