---
import Porsche911Slide from './imgs/introSlider/Porsche911Slide.astro';
import PorscheCayenneSlide from './imgs/introSlider/PorscheCayenneSlide.astro';
import PorscheMacanSlide from './imgs/introSlider/PorscheMacanSlide.astro';
import PorschePanameraSlide from './imgs/introSlider/PorschePanameraSlide.astro';
---

<section
  class='swiper swiper-hero w-full h-full sm:h-auto relative overflow-hidden object-cover'
>
  <!-- class for slider -->
  <!-- transition-transform translate-x-0 duration-[1.2s] -->
  <div class='swiper-wrapper min-h-[60dvh] flex w-full h-full'>
    <!-- Slides -->
    <div class='swiper-slide'>
      <PorscheMacanSlide />
    </div>
    <div class='swiper-slide'>
      <PorscheCayenneSlide />
    </div>
    <div class='swiper-slide'>
      <PorschePanameraSlide />
    </div>
    <div class='swiper-slide'>
      <Porsche911Slide />
    </div>
  </div>
  <div class='swiper-pagination'></div>
  <div
    class='hidden arrowsLeft absolute z-50 top-0 left-0 w-20 h-full md:flex items-center justify-center'
  >
    <button
      id='button-left'
      class='swiper-button-prev bg-white text-gray-600 p-3 opacity-0 transition-all duration-500 delay-100 ease-in-out group-hover:opacity-100 group-hover:duration-200 hover:bg-red-600 hover:text-white'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M15.75 19.5L8.25 12l7.5-7.5'></path>
      </svg>
    </button>
  </div>
  <div
    class='hidden arrowsRight absolute z-50 top-0 right-0 w-20 h-full md:flex items-center justify-center'
  >
    <button
      id='button-right'
      class='swiper-button-next bg-white text-gray-600 p-3 opacity-0 transition-all duration-500 delay-100 ease-in-out group-hover:opacity-100 group-hover:duration-200 hover:bg-red-600 hover:text-white'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M8.25 4.5l7.5 7.5-7.5 7.5'></path>
      </svg>
    </button>
  </div>
</section>

<script>
  import Swiper from 'Swiper';
  // import { Autoplay, Navigation, Pagination, Scrollbar } from 'swiper/modules';
  document.getElementById('button-left').addEventListener('click', function () {
    swiper.slidePrev();
  });
  document
    .getElementById('button-right')
    .addEventListener('click', function () {
      swiper.slideNext();
    });

  const swiper = new Swiper('.swiper-hero', {
    // modules: [Navigation, Pagination, Scrollbar, Autoplay],
    autoplay: true,
    speed: 400,
    // loop: true,
    direction: 'horizontal',
    // freeMode: true,
    pagination: {
      el: '.swiper-pagination'
    },
    effect: 'fade',
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }
  });
  
</script>
